/* 全局颜色 */

// mask 背景色
maskBgColor = rgba(0,0,0,0.4)

// 顶部、菜单栏背景色
menuBgColor = #FAFAFA

// 选中框背景色
selectedBgColor = #EAEAEA
// 二级选中框背景色
lightSelectedBgColor = #FAFAFA

// 选中字体颜色
selectedTextColor = #2D2D2D

// 未选中菜单字体颜色
unSelectedTextColor = #6E6C6C

// 字体颜色
textColor = #4a4a4a

// 灰色字体
grayTextColor = #C9C9C9
darkGrayTextColor = #8B8686

// 分割线
borderColor = #EEEEEE
lightBorderColor = #F7F5F5

// 主题色
themeColor = #000000

// 高亮色
highlightColor = #ED6C00

pink = #FD8787
lightyellow = #EAB43A
lightblue = #24D5FF

/* 全局 z-index 分配 */
buttonZ = 1000
maskZ = 3000
toastZ = 3100
loaderZ = 3500
statusZ = 10000
downloadCenterZ = 20000
networkZ = 100000
updateNoticeZ = 100001
guideZ = 1000100
guideBlackBg = rgba(0, 0, 0, 0.7)


// font-weight:
regularF = 400
mediumF = 500
boldF = 700


/* 全局类 */
.font-overflow
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

mainHeaderHeight = 0px
macBorderColor = #C4C4C4

// 项目主色
projectColor1 = #ff5469
projectColor2 = #4fbe6d
projectColor3 = #67aaf6
projectColor4 = #fa8919

// approval
approvalDetailWidth = 550px

//bodyColor
minBodyWidth = 1250px
mainBodyColor = #f8f8f8

mainContentWidth = 1000px
minContentHeight = 900px
